<template name="faqar">
    <script>$(document).prop('title', 'Vuapaper | الاسئلة المتكررة');</script>
    <!--=============== Hero Section ===============-->
    <section class="hero hero-page has-pattern-stripes">
        <div class="container text-center">
            <!-- Breadcrumb -->
            <ul class="breadcrumb d-flex justify-content-center">
                <li class="breadcrumb-item"><a href="/ar" class="animsition-link">الرئيسية</a></li>
                <li class="breadcrumb-item active">الأسئلة الشائعة</li>
            </ul>
            <h1>الأسئلة الشائعة</h1>
            <p class="text-template">للحصول على كافة الإجابات المتعلقة بخدمات الكتابة لدينا. ل <br> إذا كانت لديكم أية إستفسارات أخرى بعد الإطلاع على الأسئلة الشائعة وإجاباتها أدناه.. فلا تترددوا بالتواصل معنا.</p>
        </div>
    </section>
    <!--=============== /. Hero Section ===============-->
    <!--=============== FAQ Section ===============-->
    <section class="faq">
        <div class="container">
            <!-- Questions Department -->
            <div class="subject">
                <header class="d-flex align-items-center">
                    <div class="icon">
                        <img src="img/saving.gif" alt="..." class="img-fluid">
                    </div>
                    <h2 class="heading-light">الجودة ومواعيد التسليم</h2>
                </header>
                <div class="questions">
                    <!-- Question -->
                    <div id="accordion1" role="tablist" aria-multiselectable="true">
                        <div class="question">
                            <div class="question-header has-shadow-lighter" role="tab" id="headingOne">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="d-flex align-items-center">
                                    <div class="question-number">1</div>
                                    <h3 class="h4">لماذا يجب على من يريد الحصول على خدمات الكتابة .. أن يثق في كتّاب <span class="font-english">VuaPaper؟</span></h3>
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="question-block">
                                    لأن VuaPaper تأسست عام 2015 للعمل على خدمة الطلاب الذين يواجهون مشاكل أو صعوبات في كتابة مقالاتهم الأكاديمية أو محاضراتهم الدراسية. يُمكننا القول وبكل فخر أننا إكتسبنا سمعة متميزة من عملائنا والتي ساعدت بالطبع شركتنا لتثبت جدارتها بالسوق وتستمر حتى اليوم. كما أننا نقدم ضمان إستعادة الأموال بنسبة 100% من المبالغ المدفوعة في بعض الحالات لدعم ثقة عملائنا والمحافظة عليها.
                                </div>
                            </div>
                        </div>
                    </div><!-- /. Question -->
                    <!-- Question -->
                    <div id="accordion2" role="tablist" aria-multiselectable="true">
                        <div class="question">
                            <div class="question-header has-shadow-lighter" role="tab" id="headingTwo">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="d-flex align-items-center">
                                    <div class="question-number">2</div>
                                    <h3 class="h4">ما مدى إحترافية الكتّاب العاملين في <span class="font-english">VuaPaper</span> وخبراتهم في المساعدة بالكتابة؟</h3>
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="question-block">
                                    بكل فخر نقول أن كل مساعدي الكتابة لدينا مؤهلون تأهيلاً عالياً وحاصلون على درجات الماجستير والدكتوراة في تخصصاتهم .. خبراتهم تتخطى الـ10 سنوات ومعروف عنهم أنهم من أفضل العاملين في تقنيات الكتابة و التنسيق.
                                </div>
                            </div>
                        </div>
                    </div><!-- /. Question -->
                    <!-- Question -->
                    <div id="accordion3" role="tablist" aria-multiselectable="true">
                        <div class="question">
                            <div class="question-header has-shadow-lighter" role="tab" id="headingThree">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="d-flex align-items-center">
                                    <div class="question-number">3</div>
                                    <h3 class="h4">إذا وجد أحد الطلاب أن العمل لا يُلبي مطلبه أو كان غير راضي عن الخدمة المقدمة؟ ما هي الإجراءات المتبعة في هذه الحالة؟</h3>
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="question-block">
                                    نحن صارمون جداً بخصوص رضى عملائنا. لذلك، قمنا بوضع خبير متخصص ليقوم بالمراجعة بشكل يدوي للمواد المكتوبة من طرف عملائنا ومن بعدها ما تمت كتابته من المساعدين لدينا. وفي النهاية، إذا كانت هناك نقاط غير مشابهة للطلب أو غير مقبولة، سيقوم خبرائنا بتعديل وحل هذه النقاط للعميل.
                                </div>
                            </div>
                        </div>
                    </div><!-- /. Question -->
                    <!-- Question -->
                    <div id="accordion4" role="tablist" aria-multiselectable="true">
                        <div class="question">
                            <div class="question-header has-shadow-lighter" role="tab" id="headingFour">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="d-flex align-items-center">
                                    <div class="question-number">4</div>
                                    <h3 class="h4">هل تقومون بمساعدة الطلاب الذين لديهم مهلة محددة للتسليم وتقديم مهامهم؟</h3>
                                </a>
                            </div>
                            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="question-block">
                                    نحن نعلم جيداً أن معظم الطلاب يقومون بالتواصل معنا عندما يكونون غير قادرون على إنجاز المهام المطوبة منهم بالوقت المحدد. فعندما يتواصلون معنا بطلب المساعدة، عادةً يكون وقت التسليم المحدد قد اقترب للغاية بسبب الإدراك المتأخر للمشكلة. لذا ؛ هذه المواقف هي أمر طبيعي بالنسبة لنا فنحن نقوم بالتيسير لهؤلاء الطلاب ليتمكنوا من تقديم المهام المطلوبة منهم بالوقت المحدد دون أية تأخيرات.
                                </div>
                            </div>
                        </div>
                    </div><!-- /. Question -->
                </div>
            </div><!-- /. Questions Department -->
            <!-- Questions Department -->
            <div class="subject">
                <header class="d-flex align-items-center">
                    <div class="icon">
                        <img src="img/analytics.gif" alt="..." class="img-fluid">
                    </div>
                    <h2 class="heading-light">الدقة والسداد</h2>
                </header>
                <div class="questions">
                    <!-- Question -->
                    <div id="accordion5" role="tablist" aria-multiselectable="true">
                        <div class="question">
                            <div class="question-header has-shadow-lighter" role="tab" id="headingFive">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="d-flex align-items-center">
                                    <div class="question-number">5</div>
                                    <h3 class="h4">ماهي وسائل الدفع التي توفرونها؟</h3>
                                </a>
                            </div>
                            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="question-block">
                                    بالوقت الحالي نحن نقبل الدفع عبر باي بال أو البطاقات الإئتمانية إلى جانب إمكانية الدفع عبر فيزا أو ويسترن يونيون كوسائل دفع آمنة متوفرة لدينا. إذا كنت تريد الدفع عبر وسيلة أخرى، فـ الرجاء مراسلتنا لبحث إمكانية توفير ذلك.
                                </div>
                            </div>
                        </div>
                    </div><!-- /. Question -->
                    <!-- Question -->
                    <div id="accordion6" role="tablist" aria-multiselectable="true">
                        <div class="question">
                            <div class="question-header has-shadow-lighter" role="tab" id="headingSix">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix" class="d-flex align-items-center">
                                    <div class="question-number">6</div>
                                    <h3 class="h4">هل طرق الدفع المتوفرة آمنة كفاية لإتخاذ إجراءات السداد؟</h3>
                                </a>
                            </div>
                            <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
                                <div class="question-block">
                                    نحن لا نوفر إلا طرق الدفع الآمنة، مع التنويه إن عميلنا له الحق في إختيار الدفع عبر وسائل أخرى، فيُمكننا تحقيق هذه الأمنية. مع ملاحظة أن العمل على الطلب سيبدأ فور إستلام القيمة المتفق عليها، والتي تم تسديدها عبر وسائل الدفع الأخرى الغير مدرجة كوسائل أساسية لدينا.
                                </div>
                            </div>
                        </div>
                    </div><!-- /. Question -->
                    <!-- Question -->
                    <div id="accordion7" role="tablist" aria-multiselectable="true">
                        <div class="question">
                            <div class="question-header has-shadow-lighter" role="tab" id="headingSeven">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" class="d-flex align-items-center">
                                    <div class="question-number">7</div>
                                    <h3 class="h4">كيف ستقومون بإستخدام البيانات الشخصية ووسائل الإتصال التي قام الطالب بتسجيلها سواء طلب خدمة أو لا؟</h3>
                                </a>
                            </div>
                            <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
                                <div class="question-block">
                                    عادةً الناس يقلقون عند وصولهم لخطوة تعبئة نموذج البيانات الشخصية ووسائل الإتصال بهم في مواقع خدمات الكتابة .. حيث يعتقدون أنهم إذا لم يقوموا بطلب إحدى خدمات الموقع سيتم إزعاجهم بالعديد من الرسائل العشوائية على البريد الخاص بهم. أما القلق الثاني فهو تسريب البيانات الشخصية الخاصة بهم حتى لو قاموا بطلب إحدى الخدمات. لا يجب عليك القلق من هذه الأمور معنا. فنحن لا نقوم بإرسال أي بريد إلكتروني أو رسائل للأشخاص الذين لم يقوموا بالموافقة على إستقبال رسائل من الموقع. أيضاً فإن كافة بيانات الإتصال تتم المحافظة عليها بشكل سري ولا يُمكن لأي شخص أياً كان موقعه الوصول لهذه البيانات إلا إذا وافق صاحب البيانات على ذلك. المحافظة على بياناتك الشخصية في سرية وأمان .. هي من الأمور الصارمة لدينا.
                                </div>
                            </div>
                        </div>
                    </div><!-- /. Question -->
                    <!-- Question -->
                    <div id="accordion8" role="tablist" aria-multiselectable="true">
                        <div class="question">
                            <div class="question-header has-shadow-lighter" role="tab" id="headingEight">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight" class="d-flex align-items-center">
                                    <div class="question-number">8</div>
                                    <h3 class="h4">ما هي الحالات المسموح بها طلب إسترجاع المبلغ المدفوع؟</h3>
                                </a>
                            </div>
                            <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight">
                                <div class="question-block">
                                    في جميع الحالات الموضحة أعلاه, نحن نقدم أولاً جلسة مساعدة مع الطالب في محاولة لحل الأمر والوصول للنتيجة التي ترضيه دون أية تكاليف إضافية.
                                    <br> - عندما لا يُحقق الطالب علامات جيدة مع جود اثبات لذلك .. في هذه الحالة يتم الإتفاق على إسترداد المبلغ.
                                    <br> - إذا وجد الطالب أن المُساعد لا يُمكنه تقديم الخدمة المطلوبة خلال الوقت المتفق عليه.
                                    <br> - إذا تم إكتشاف أن المُساعد قام بتقديم مادة مسروقة أو منسوخة.
                                    <br> - إذا كان شكل العمل المُقدم فوضوي وغير منسق بالشكل الملائم ولم يتمكن الطالب من فهمه.
                                    <br> - عندما يقوم الطالب بتسديد الرسوم مرتين عن طريق الخطأ.
                                </div>
                            </div>
                        </div>
                    </div><!-- /. Question -->
                    <!-- Question -->
                    <div id="accordion9" role="tablist" aria-multiselectable="true">
                        <div class="question">
                            <div class="question-header has-shadow-lighter" role="tab" id="headingNine">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine" class="d-flex align-items-center">
                                    <div class="question-number">9</div>
                                    <h3 class="h4">هل هناك تكاليف إضافية لطلبات المساعدة لمراجعة بعض الأمور؟</h3>
                                </a>
                            </div>
                            <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine">
                                <div class="question-block">
                                    دائماً نحن نحاول تقديم أفضل الخدمات لعملائنا. لذا إذا كانت المساعدة المطلوبة قابلة للتعديل في الوقت الملائم للمساعد الخاص بنا، فلن يتم طلب مبالغ إضافية .. كن مرتاحاً وسعيداً! ولكن إن كانت المساعدة ستشمل تعديل النص المقدم أو إستراتيجيته العامة بشكل كامل، فسوف نتناقش مع العميل في محاولة لتوفير المساعدة بأقل سعر ممكن.
                                </div>
                            </div>
                        </div>
                    </div><!-- /. Question -->
                </div>
            </div><!-- Questions Department -->
        </div>
    </section>
    <!--=============== /. FAQ Section ===============-->
    <!--=============== Ask Section ===============-->
    <section class="ask no-padding-top ltr">
        <div class="container">
            <header class="text-center">
                <h2>
                    <span class="text-primary">لم تجد الإجابة التي تبحث عنها؟</span>
                    قم بالتواصل معنا الآن
                </h2>
            </header>
            <!-- Ask Form -->
            <div class="form-holder col-md-8 push-md-2">
                <form action="#" id="ask-form" class="rtl">
                    <div class="form-group">
                        <input type="text" class="input-material" name="name" id="name">
                        <label for="name">اسمك</label>
                    </div>
                    <div class="form-group">
                        <input type="email" class="input-material" name="email" id="email">
                        <label for="email">بريدك الإلكتروني</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="input-material" name="subject" id="subject">
                        <label for="subject">عنوان الموضوع</label>
                    </div>
                    <div class="form-group">
                        <textarea class="input-material" name="message" id="message"></textarea>
                        <label for="message">كيف يُمكننا مساعدتك؟</label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-template-outlined font-arabic" type="submit">إرسال</button>
                    </div>
                </form>
            </div><!-- /. Ask Form -->
        </div>
    </section>
    <!--=============== /. Ask Section ===============-->
</template>
