<template name="faq">
    <script>$(document).prop('title', 'Vuapaper | FAQ');</script>
    <!--=============== Hero Section ===============-->
    <section class="hero hero-page has-pattern-stripes">
        <div class="container text-center">
            <!-- Breadcrumb -->
            <ul class="breadcrumb d-flex justify-content-center">
                <li class="breadcrumb-item"><a href="/" class="animsition-link">Home</a></li>
                <li class="breadcrumb-item active">FAQ</li>
            </ul>
            <h1>FAQ</h1>
            <p class="text-template col-md-10 push-md-1">Finding the answers to essay writting services related questions right below about our product. If after reading this section you still have some doubt, don't hesitate to contact us.</p>
        </div>
    </section>
    <!--=============== /. Hero Section ===============-->
    <!--=============== FAQ Section ===============-->
    <section class="faq">
        <div class="container">
            <!-- Questions Department -->
            <div class="subject">
                <header class="d-flex align-items-center">
                    <div class="icon">
                        <img src="img/saving.gif" alt="..." class="img-fluid">
                    </div>
                    <h2 class="heading-light">Timing and Deadlines</h2>
                </header>
                <div class="questions">
                    <!-- Question -->
                    <div id="accordion1" role="tablist" aria-multiselectable="true">
                        <div class="question">
                            <div class="question-header has-shadow-lighter" role="tab" id="headingOne">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="d-flex align-items-center">
                                    <div class="question-number">1</div>
                                    <h3 class="h4">Why anyone who wants the assignment writing services trust on Vua Paper Writer?</h3>
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="question-block">
                                    Vua Paper was established in 2015 to serve the students who are facing problems regarding their academic writings and tuition. We can proudly say that we have earned the reputation from our clients which help any firm to be stand in the market. Also we provide 100% refund facilities in some cases which helps customer to maintain trust on us.
                                </div>
                            </div>
                        </div>
                    </div><!-- /. Question -->
                    <!-- Question -->
                    <div id="accordion2" role="tablist" aria-multiselectable="true">
                        <div class="question">
                            <div class="question-header has-shadow-lighter" role="tab" id="headingTwo">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="d-flex align-items-center">
                                    <div class="question-number">2</div>
                                    <h3 class="h4">How professional your writers are and what are their expertise for writing help?</h3>
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="question-block">
                                    We can proudly say that all of our writing helpers are highly qualified and possess Master or PhD degree in their subject. They have experience of several years and are known with the best submission and formatting techniques.
                                </div>
                            </div>
                        </div>
                    </div><!-- /. Question -->
                    <!-- Question -->
                    <div id="accordion3" role="tablist" aria-multiselectable="true">
                        <div class="question">
                            <div class="question-header has-shadow-lighter" role="tab" id="headingThree">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="d-flex align-items-center">
                                    <div class="question-number">3</div>
                                    <h3 class="h4">If student found the work does not meet the requirements or is unsatisfied, then what is your policy?</h3>
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="question-block">
                                    We are very strict on the customer satisfaction. For that, we put one expert to manually check your written material which you write after our helper’s assistance. After all, if the assignment have some unacceptable points or did not meet certain requirements, our expert will make those fixes for you.
                                </div>
                            </div>
                        </div>
                    </div><!-- /. Question -->
                    <!-- Question -->
                    <div id="accordion4" role="tablist" aria-multiselectable="true">
                        <div class="question">
                            <div class="question-header has-shadow-lighter" role="tab" id="headingFour">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="d-flex align-items-center">
                                    <div class="question-number">4</div>
                                    <h3 class="h4">Do you help students who have very short deadline for submitting their assignments?</h3>
                                </a>
                            </div>
                            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="question-block">
                                    We know very well that most of the students contact us when they are unable to complete their assignment which they have to submit. When they come to us for the help, usually the time duration is being shorten because of late awareness. So, this situation is normal for us to facilitate those students so that they can prepare their assignment in short time.
                                </div>
                            </div>
                        </div>
                    </div><!-- /. Question -->
                </div>
            </div><!-- /. Questions Department -->
            <!-- Questions Department -->
            <div class="subject">
                <header class="d-flex align-items-center">
                    <div class="icon">
                        <img src="img/analytics.gif" alt="..." class="img-fluid">
                    </div>
                    <h2 class="heading-light">Quality and Reliability</h2>
                </header>
                <div class="questions">
                    <!-- Question -->
                    <div id="accordion5" role="tablist" aria-multiselectable="true">
                        <div class="question">
                            <div class="question-header has-shadow-lighter" role="tab" id="headingFive">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="d-flex align-items-center">
                                    <div class="question-number">5</div>
                                    <h3 class="h4">What are the possible modes of payments you offer?</h3>
                                </a>
                            </div>
                            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="question-block">
                                    Right now we are accepting payments via PayPal or Card including Visa and Western Union as our secure payment method. If you want to pay via some other method, please contact and discuss with us.
                                </div>
                            </div>
                        </div>
                    </div><!-- /. Question -->
                    <!-- Question -->
                    <div id="accordion6" role="tablist" aria-multiselectable="true">
                        <div class="question">
                            <div class="question-header has-shadow-lighter" role="tab" id="headingSix">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix" class="d-flex align-items-center">
                                    <div class="question-number">6</div>
                                    <h3 class="h4">Are the offered payment modes safe enough to process payment?</h3>
                                </a>
                            </div>
                            <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
                                <div class="question-block">
                                    We only offer the most secure payment methods but if any of our client wants to pay via some other way, we can accept his wish. The work will be started just after receiving the payment, paid through the other payment systems.
                                </div>
                            </div>
                        </div>
                    </div><!-- /. Question -->
                    <!-- Question -->
                    <div id="accordion7" role="tablist" aria-multiselectable="true">
                        <div class="question">
                            <div class="question-header has-shadow-lighter" role="tab" id="headingSeven">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" class="d-flex align-items-center">
                                    <div class="question-number">7</div>
                                    <h3 class="h4">What will you do with the contact information of the student who either places an order or not?</h3>
                                </a>
                            </div>
                            <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
                                <div class="question-block">
                                    Usually, people afraid when filling the order form on writing services website because they think that if they even don’t place an order and they will be disturbed by frequent emails. And the second fear is leaking the identity to someone else when order has been placed.
                                    You don’t have to worry about anything in either of above situation. We do not send email or messages to pupils who have unchecked our promotional emails check box. Also all the contact details kept confidential and no one have access to it accept the concern person to that order. Providing you the security and keeping your data confidential is part of our strict policy.
                                </div>
                            </div>
                        </div>
                    </div><!-- /. Question -->
                    <!-- Question -->
                    <div id="accordion8" role="tablist" aria-multiselectable="true">
                        <div class="question">
                            <div class="question-header has-shadow-lighter" role="tab" id="headingEight">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight" class="d-flex align-items-center">
                                    <div class="question-number">8</div>
                                    <h3 class="h4">What are the situations when you issue a refund?</h3>
                                </a>
                            </div>
                            <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight">
                                <div class="question-block">
                                    Situations when we offer refund facility:<br>
                                    <br>- When a student does not achieve good markings so refund can be arranged according to our policies.
                                    <br>- When student found the helper is unable to deliver work in time.
                                    <br>- When you encounter the given material from your helper as copied or plagiarized.
                                    <br>- The writing format or techniques contains too much mess and unable to understand by a student getting help.
                                    <br>- When a student mistakenly pays us the fee twice.
                                    In all above situations, we first offer to provide another help session freely otherwise the refund will be issued.
                                </div>
                            </div>
                        </div>
                    </div><!-- /. Question -->
                    <!-- Question -->
                    <div id="accordion9" role="tablist" aria-multiselectable="true">
                        <div class="question">
                            <div class="question-header has-shadow-lighter" role="tab" id="headingNine">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine" class="d-flex align-items-center">
                                    <div class="question-number">9</div>
                                    <h3 class="h4">Do you charge extra for revision help on some issues before delivery?</h3>
                                </a>
                            </div>
                            <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine">
                                <div class="question-block">
                                    We always try to offer best services to our clients. So if the required help is adjustable to the time of our tutor, we will not charge anything. Be relaxed and be happy! But if the help is likely to change the theme or complete strategy, we will discuss you for the lowest we will charge.
                                </div>
                            </div>
                        </div>
                    </div><!-- /. Question -->
                </div>
            </div><!-- Questions Department -->
        </div>
    </section>
    <!--=============== /. FAQ Section ===============-->
    <!--=============== Ask Section ===============-->
    <section class="ask no-padding-top">
        <div class="container">
            <header class="text-center">
                <h2>
                    <span class="text-primary">Didn't find your question?</span>
                    Contact Us now
                </h2>
            </header>
            <!-- Ask Form -->
            <div class="form-holder col-md-8 push-md-2">
                <form action="#" id="ask-form">
                    <div class="form-group">
                        <input type="text" class="input-material" name="name" id="name">
                        <label for="name">Enter Your Name</label>
                    </div>
                    <div class="form-group">
                        <input type="email" class="input-material" name="email" id="email">
                        <label for="email">Enter Your Email Address</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="input-material" name="subject" id="subject">
                        <label for="subject">Enter the subject</label>
                    </div>
                    <div class="form-group">
                        <textarea class="input-material" name="message" id="message"></textarea>
                        <label for="message">How can we help you?</label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-template-outlined" type="submit">Submit</button>
                    </div>
                </form>
            </div><!-- /. Ask Form -->
        </div>
    </section>
    <!--=============== /. Ask Section ===============-->
</template>
