
<template name="signupar">

			<script>$(document).prop('title', 'Vuapaper | أنشاء حساب');</script>
			
        <!--=============== Hero Section ===============-->
        <section class="hero hero-page hero-login has-pattern-stripes">
            <div class="container text-center">
                <!-- Breadcrumb -->
                <ul class="breadcrumb d-flex justify-content-center">
                    <li class="breadcrumb-item"><a href="/ar" class="animsition-link">الرئيسية</a></li>
                    <li class="breadcrumb-item active">إنشاء حساب</li>
                </ul>

                <h1>إنشاء حساب</h1>
            </div>
        </section>
        <!--=============== /. Hero Section ===============-->


        <!--=============== Signup Section ===============-->
        <section class="signup ltr">
            <div class="row">

                <div class="form-holder col-lg-8 push-lg-2 rtl">
                    <form action="#" id="login-form" class="has-shadow">
                        <div class="form-group">
                            <input type="text" class="input-material" name="fullname" id="fullname">
                            <label for="fullname">الأسم الكامل</label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="input-material" name="username" id="username">
                            <label for="username">أسم المستخدم</label>
                        </div>
                        <div class="form-group">
                            <input type="email" class="input-material" name="useremail" id="useremail">
                            <label for="useremail">البريد الإلكتروني</label>
                        </div>
                        <div class="form-group">
                            <input type="password" class="input-material" name="password" id="password">
                            <label for="password">كلمة المرور</label>
                        </div>
                        <div class="form-group">
                            <input type="password" class="input-material" name="password" id="confirmPassword">
                            <label for="confirmPassword">تأكيد كلمة المرور</label>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-template-outlined font-arabic signupbtn" >إنشاء حساب</button>
                        </div>
                        <div class="helpers d-flex justify-content-center">
                            <p>تمتلك حساب بالفعل؟ <a href="/login-ar" class="text-primary animsition-link">قم بتسجيل الدخول</a></p>
                        </div>
                    </form>

                </div>

            </div>
        </section>
        <!--=============== /. Signup Section ===============-->


		</template>