
		
		<template name="samples">
		
		
			<script>$(document).prop('title', 'Vuapaper | Samples');</script>
			
		
            <!--=============== Hero Section ===============-->
            <section class="hero hero-page has-pattern-stripes">
                <div class="container text-center">
                    <!-- Breadcrumb -->
                    <ul class="breadcrumb d-flex justify-content-center">
                        <li class="breadcrumb-item"><a href="/" class="animsition-link">Home</a></li>
                        <li class="breadcrumb-item active">Samples</li>
                    </ul>

                    <h1>Samples</h1>
                    <p class="text-template">We are the forefront in innovation. <br> Discover with us possibilities of your next project.</p>
                </div>
            </section>
            <!--=============== /. Hero Section ===============-->


            <!--=============== Services Section ===============-->
            <section class="samples-page">
                <div class="container">
                    <div class="row">
                         <!-- Sample -->
                        <div class="col-md-6">
                            <div class="item has-shadow">
                                <h3>Protective Relays in Power Lines </h3>
                                <p>This is an explanation of the mechanism of occurrence of blackouts and theirpossible hazards on the short term as well as the long term. Displayed is the importance of protective relays found in power lines in preventing such hazards.</p>

                                <ul class="details list-unstyled">
                                    <li>
                                        <i class="fa fa-file-text"></i>
                                        Subject: <span>Physics</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-file-text-o"></i>
                                        Type of paper: <span>Assignment </span>
                                    </li>
                                    <li>
                                        <i class="fa fa-graduation-cap"></i>
                                        Academic level: <span>Bachelor</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-align-left"></i>
                                        Paper format: <span>-</span>
                                    </li>
                                </ul>

                                <a href="documents/physics.pdf" target="_blank" class="btn btn-template-outlined wide">View</a>
                                <!-- ribbon -->
                                <div class="category">Assignment </div>
                            </div>
                        </div><!-- /. Sample -->

                        <!-- Sample -->
                        <div class="col-md-6">
                            <div class="item has-shadow">
                                <h3>Global competitiveness and Strategic Human Resource </h3>
                                <p>Global competitiveness on strategic human resources makes the firms to compete in the global market via the strategic organization of their employees.  Managers also have a stake to ensure their businesses compete well in the global markets.   </p>

                                <ul class="details list-unstyled">
                                    <li>
                                        <i class="fa fa-file-text"></i>
                                        Subject: <span>Human Resources </span>
                                    </li>
                                    <li>
                                        <i class="fa fa-file-text-o"></i>
                                        Type of paper: <span>Report</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-graduation-cap"></i>
                                        Academic level: <span>Bachelor</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-align-left"></i>
                                        Paper format: <span>Harvard </span>
                                    </li>
                                </ul>

                                <a href="documents/Human Resources.pdf" target="_blank" class="btn btn-template-outlined wide">View</a>
                                <!-- ribbon -->
                                <div class="category">Report</div>
                            </div>
                        </div><!-- /. Sample -->

                        <!-- Sample -->
                        <div class="col-md-6">
                            <div class="item has-shadow">
                                <h3>The distribution and effects of forces</h3>
                                <p>Methodology of solving Engineering assignments concerning the distribution and effects of forces. This example illustrates using a theoretical formula with the data given to calculate the angle of deflection of a supported beam.</p>

                                <ul class="details list-unstyled">
                                    <li>
                                        <i class="fa fa-file-text"></i>
                                        Subject: <span>Engineering </span>
                                    </li>
                                    <li>
                                        <i class="fa fa-file-text-o"></i>
                                        Type of paper: <span>Assignment </span>
                                    </li>
                                    <li>
                                        <i class="fa fa-graduation-cap"></i>
                                        Academic level: <span>Bachelor</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-align-left"></i>
                                        Paper format: <span>-</span>
                                    </li>
                                </ul>

                                <a href="documents/Engineering.pdf" target="_blank" class="btn btn-template-outlined wide">View</a>
                                <!-- ribbon -->
                                <div class="category">Assignment </div>
                            </div>
                        </div><!-- /. Sample -->

						<!-- Sample -->
                        <div class="col-md-6">
                            <div class="item has-shadow">
                                <h3>Turning a Business Idea into a Successful Startup</h3>
                                <p>Effective management of a business requires efficient managers. First, the management should be able to embrace innovation. This will enable the business to keep abreast with the technological advancements and hence keep relevance to the market demands and insights. It is important for the business owner to be objective and remain visionary.  </p>

                                <ul class="details list-unstyled">
                                    <li>
                                        <i class="fa fa-file-text"></i>
                                        Subject: <span>Business </span>
                                    </li>
                                    <li>
                                        <i class="fa fa-file-text-o"></i>
                                        Type of paper: <span>Report </span>
                                    </li>
                                    <li>
                                        <i class="fa fa-graduation-cap"></i>
                                        Academic level: <span>Bachelor</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-align-left"></i>
                                        Paper format: <span>APA </span>
                                    </li>
                                </ul>

                                <a href="documents/Business.pdf" target="_blank" class="btn btn-template-outlined wide">View</a>
                                <!-- ribbon -->
                                <div class="category">Report</div>
                            </div>
                        </div><!-- /. Sample -->

                    </div>
                </div>
            </section>
            <!--=============== /. Services Section ===============-->

</template>