
	<template name="samplesar">
	
			<script>$(document).prop('title', 'Vuapaper | اعمالنا');</script>
			

            <!--=============== Hero Section ===============-->
            <section class="hero hero-page has-pattern-stripes">
                <div class="container text-center">
                    <!-- Breadcrumb -->
                    <ul class="breadcrumb d-flex justify-content-center">
                        <li class="breadcrumb-item"><a href="/ar" class="animsition-link">الرئيسية</a></li>
                        <li class="breadcrumb-item active">أعمالنا</li>
                    </ul>

                    <h1>أعمالنا</h1>
                    <p class="text-template">نحن رواد الإبتكار.. <br> تجد أدناه عرض لتوضيح بعض عينات الأعمال التي قمنا بإنجازها .. إفحص بنفسك.</p>
                </div>
            </section>
            <!--=============== /. Hero Section ===============-->


            <!--=============== Services Section ===============-->
            <section class="samples-page">
                <div class="container">
                    <div class="row">
                        <!-- Sample -->
                        <div class="col-md-6">
                            <div class="item has-shadow">
                                <h3>التناوب الوقائي في خطوط الطاقة</h3>
                                <p>هذا الملف هو شرح لآلية حدوث إنقطاع الكهرباء ومخاطرها المحتملة على المدى القصير وكذلك المدى الطويل. الملف يبين أهمية التناوبات الوقائية في خطوط الكهرباء لمنع مثل هذه المخاطر.</p>

                                <ul class="details list-unstyled">
                                    <li>
                                        <i class="fa fa-file-text"></i>
                                        الموضوع: <span>الفيزياء</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-file-text-o"></i>
                                        نوع العمل: <span>واجب</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-graduation-cap"></i>
                                        المستوي الأكاديمي: <span>بكالوريوس</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-align-left"></i>
                                        تنسيق الورقة: <span>ـــــ</span>
                                    </li>
                                </ul>

                                <a href="https://vuapaper.com/documents/physics.pdf" target="_blank" class="btn btn-template-outlined wide">عرض</a>
                                <!-- ribbon -->
                                <div class="category">الفيزياء</div>
                            </div>
                        </div><!-- /. Sample -->

                        <!-- Sample -->
                        <div class="col-md-6">
                            <div class="item has-shadow">
                                <h3>القدرة التنافسية العالمية والموارد البشرية الإستراتيجية</h3>
                                <p>إن القدرة التنافسية العالمية على الموارد البشرية الإستراتيجية تجعل الشركات تنافس بقوة في سوق العمل العالمية من خلال التنظيم الإستراتيجي لموظفيها. وللمديرين أيضاً مصلحة في ضمان أن أعمالهم تنافس بقوة في الأسواق العالمية</p>

                                <ul class="details list-unstyled">
                                    <li>
                                        <i class="fa fa-file-text"></i>
                                        الموضوع: <span>الموارد البشرية</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-file-text-o"></i>
                                        نوع العمل: <span>تقرير</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-graduation-cap"></i>
                                        المستوي الأكاديمي: <span>بكالوريوس</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-align-left"></i>
                                        شكل الورقة: <span class="font-english">Harvard</span>
                                    </li>
                                </ul>

                                <a href="https://vuapaper.com/documents/Human%20Resources.pdf" target="_blank" class="btn btn-template-outlined wide">عرض</a>
                                <!-- ribbon -->
                                <div class="category">الموارد البشرية</div>
                            </div>
                        </div><!-- /. Sample -->

                        <!-- Sample -->
                        <div class="col-md-6">
                            <div class="item has-shadow">
                                <h3>توزيع القوى وتأثيراته</h3>
                                <p>منهجية حل المهام الهندسية المتعلقة بتوزيع وتأثيرات القوى. هذا المثال يوضح استخدام صيغة نظرية إعتماداً على البيانات المعطاة لحساب زاوية إنحراف الحزمة المدعومة.</p>

                                <ul class="details list-unstyled">
                                    <li>
                                        <i class="fa fa-file-text"></i>
                                        الموضوع: <span>الهندسة</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-file-text-o"></i>
                                        نوع العمل: <span>واجب</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-graduation-cap"></i>
                                        المستوي الأكاديمي: <span>بكالوريوس</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-align-left"></i>
                                        تنسيق الورقة: <span>ـــــ</span>
                                    </li>
                                </ul>

                                <a href="https://vuapaper.com/documents/Engineering.pdf" target="_blank" class="btn btn-template-outlined wide">عرض</a>
                                <!-- ribbon -->
                                <div class="category">الهندسة</div>
                            </div>
                        </div><!-- /. Sample -->

                        <!-- Sample -->
                        <div class="col-md-6">
                            <div class="item has-shadow">
                                <h3>تحويل فكرة العمل إلى بداية ناجحة</h3>
                                <p>الإدارة الفعّالة للأعمال تتطلب مديرين فعالين. أولاً, الإدارة يجب أن تكون قادرة على تبني الإبتكار. لأن هذا سيُمكّن الأعمال التجارية من مواكبة التقدم التكنولوجي. وبالتالي الحفاظ على الصلة بمتطلبات السوق والرؤية الخاصة به. فمن المهم أن يكون صاحب العمل موضوعياً.</p>

                                <ul class="details list-unstyled">
                                    <li>
                                        <i class="fa fa-file-text"></i>
                                        الموضوع: <span>الأعمال</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-file-text-o"></i>
                                        نوع العمل: <span>تقرير</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-graduation-cap"></i>
                                        المستوي الأكاديمي: <span>بكالوريوس</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-align-left"></i>
                                        تنسيق الورقة: <span class="font-english">APA</span>
                                    </li>
                                </ul>

                                <a href="https://vuapaper.com/documents/Business.pdf" target="_blank" class="btn btn-template-outlined wide">عرض</a>
                                <!-- ribbon -->
                                <div class="category">الأعمال</div>
                            </div>
                        </div><!-- /. Sample -->
                    </div>
                </div>
            </section>
            <!--=============== /. Services Section ===============-->


     </template>