
<template name="aboutar">

            <!--=============== Hero Section ===============-->
            <section class="hero hero-page has-pattern-stripes">
                <div class="container text-center">
                    <!-- Breadcrumb -->
                    <ul class="breadcrumb d-flex justify-content-center">
                        <li class="breadcrumb-item"><a href="/ar" class="animsition-link">الرئيسية</a></li>
                        <li class="breadcrumb-item active">من نحن</li>
                    </ul>

                    <h1>من نحن</h1>
                    <p class="text-template">نحن رواد الإبتكار. <br> ستجد الحل الأمثل لجميع مشاكل الكتابات الأكاديمية معنا.</p>
                </div>
            </section>
            <!--=============== /. Hero Section ===============-->


            <!--=============== Intro Section ===============-->
            <section class="intro ltr">
                <div class="container text-center">
                    <p class="text-big col-md-10 push-md-1">شبكة متكاملة من الخبراء في جميع المجالات التي تخدم الطلاب، الخريجين وحتى أصحاب الأعمال المختلفة! نحن نقدم حلولاً للأعمال الأكاديمية الخاصة بك كذلك على المستوى المهني .. لتكون النتيجة في منتهى الإحترافية والجمال.
 نحن نتعامل مع كافة المتطلبات الأكثر طلباً في المجال الأكاديمي, ليس هذا فقط، فنحن نقدم خدماتنا على نطاق الأعمال والأمور التجارية أيضاً</p>
                    <a class="bla-1 btn-template has-shadow" href="https://www.youtube.com/watch?v=qAEri80O5Hw"><i class="icon-play-button"></i> حول خدماتنا </a>
                </div>
            </section>
            <!--=============== /. Intro Section ===============-->


            <!--=============== Vision Section ===============-->
            <section class="vision gray-bg ltr">
                <div class="container text-center">
                    <header class="rtl">
                        <h2 class="has-lines">رؤيتنا</h2>
                        <p class="text-template">إزدهار أعمالك وحياتك الأكاديمية هو أول ما يهمنا. فنحن نرى الأشياء ونحددها من خلال وجهة نظرك الخاصة. فنحن نفهم أن المرء يحتاج لمساعدة مهنية متخصصة لإنجاز مهمة أو إنهاء مشروع. لذلك، فنحن مستعدون وجاهزون لتوفير كل هذا لكم. فقط قوموا بمراسلتنا وستدهشكم النتائج.</p>
                    </header>

                    <!-- Blockquote -->
                    <blockquote class="blockquote col-md-10 push-md-1">
                        <p class="rtl"><span class="first-word">نحن</span> فخورون بتقديم هذه المنصة المتكاملة ليكون للخدمات الطلابية ولرواد الأعمال. هذه الفكرة مستوحاة من الصراعات التي واجهناها بأنفسنا. من خلال أحلامنا التي طاردتنا فترة طويلة والنجاح الذي ينتظره كل طالب. لذا نحن نطمح لأن نكون داعمين لك كطالب, خريج أو حتى صاحب أعمال. نود أن نجعل حياتك الأكاديمية تتطور وتزدهر .. لتحقيق طموحاتك ورفعة شأنك للسماء.</p>
                        <footer class="blockquote-footer d-flex align-items-start justify-content-center">
                            <div class="title">
                                <h3>أسامة سلطان</h3>
                                <span class="text-primary rtl">المدير التنفيذي لشركة <span class="font-english">Vua Paper</span></span>
                            </div>
                        </footer>
                    </blockquote><!-- /. Blockquote -->
                </div>
            </section>
            <!--=============== /. Vision Section ===============-->


            <!--=============== Statistics Section ===============-->
            <section class="statistics statistics-about has-pattern-memphis padding-small ltr">
                <div class="container text-center">

                    <div class="row">
                        <!-- Item -->
                        <div class="col-md-3 col-sm-6">
                            <div class="icon">
                                <img src="img/coffe.gif" alt="..." class="img-fluid">
                            </div>
                            <h3 class="h2 text-primary font-english"><strong class="counter">450</strong></h3>
                            <p>كوب قهوة</p>
                        </div><!-- /. Item -->

                        <!-- Item -->
                        <div class="col-md-3 col-sm-6">
                            <div class="icon">
                                <img src="img/portfolio.gif" alt="..." class="img-fluid">
                            </div>
                            <h3 class="h2 text-primary font-english"><strong class="counter">450</strong></h3>
                            <p>مشاريع منجزة</p>
                        </div><!-- /. Item -->

                        <!-- Item -->
                        <div class="col-md-3 col-sm-6">
                            <div class="icon">
                                <img src="img/chat.gif" alt="..." class="img-fluid">
                            </div>
                            <h3 class="h2 text-primary font-english"><strong class="counter">600</strong></h3>
                            <p>تعليق</p>
                        </div><!-- /. Item -->

                        <!-- Item -->
                        <div class="col-md-3 col-sm-6">
                            <div class="icon">
                                <img src="img/clients.gif" alt="..." class="img-fluid">
                            </div>
                            <h3 class="h2 text-primary font-english"><strong class="counter">3500</strong></h3>
                            <p>عميل سعيد</p>
                        </div><!-- /. Item -->
                    </div>

                </div>
            </section>
            <!--=============== /. Statistics Section ===============-->


            <!--=============== Team Section ===============-->
            <section class="team gray-bg">
                <div class="container">

                    <!-- Testimonials Slider -->
                    <div class="owl-carousel owl-theme team-slider">

                        <!-- item -->
                        <div class="item shadow-on-hover">
                            <div class="member">
                                <div class="profile d-flex align-items-start">
                                    <img src="img/osama.png" alt="..." class="img-fluid">
                                </div>

                                <div class="details">
                                    <h3 class="heading-bold">أسامة سلطان</h3>
                                    <span>المدير التنفيذي</span>
                                </div>
                            </div>
                        </div> <!-- End item -->

                        <!-- item -->
                        <div class="item shadow-on-hover">
                            <div class="member">
                                <div class="profile d-flex align-items-start">
                                    <img src="img/alex.png" alt="..." class="img-fluid">
                                </div>

                                <div class="details">
                                    <h3 class="heading-bold">أليكس ليما</h3>
                                    <span>مطور</span>
                                </div>
                            </div>
                        </div> <!-- End item -->

                        <!-- item -->
                        <div class="item shadow-on-hover">
                            <div class="member">
                                <div class="profile d-flex align-items-start">
                                    <img src="img/mohamed.png" alt="..." class="img-fluid">
                                </div>

                                <div class="details">
                                    <h3 class="heading-bold">محمد حسن</h3>
                                    <span>مصمم</span>
                                </div>
                            </div>
                        </div> <!-- End item -->

                        <!-- item -->
                        <div class="item shadow-on-hover">
                            <div class="member">
                                <div class="profile d-flex align-items-start">
                                    <img src="img/ammar.png" alt="..." class="img-fluid">
                                </div>

                                <div class="details">
                                    <h3 class="heading-bold">عمار أحمد</h3>
                                    <span class="font-weight light">مصمم</span>
                                </div>
                            </div>
                        </div> <!-- End item -->

                        <!-- item -->
                        <div class="item shadow-on-hover">
                            <div class="member">
                                <div class="profile d-flex align-items-start">
                                    <img src="img/james.png" alt="..." class="img-fluid">
                                </div>

                                <div class="details">
                                    <h3 class="heading-bold">جيمس أدم</h3>
                                    <span>مهندس</span>
                                </div>
                            </div>
                        </div> <!-- End item -->

                        <!-- item -->
                        <div class="item shadow-on-hover">
                            <div class="member">
                                <div class="profile d-flex align-items-start">
                                    <img src="img/sharon.png" alt="..." class="img-fluid">
                                </div>

                                <div class="details">
                                    <h3 class="heading-bold">شارون جاريلد</h3>
                                    <span>مهندس</span>
                                </div>
                            </div>
                        </div> <!-- End item -->

                    </div><!-- End Testimonials Slider -->

                </div>
            </section>
            <!--=============== /. Team Section ===============-->

			<script>$(document).prop('title', 'Vuapaper | عن الشركة');</script>

			</template>