

 <template name="about">

            <!--=============== Hero Section ===============-->
            <section class="hero hero-page has-pattern-stripes">
                <div class="container text-center">
                    <!-- Breadcrumb -->
                    <ul class="breadcrumb d-flex justify-content-center">
                        <li class="breadcrumb-item"><a href="/" class="animsition-link">Home</a></li>
                        <li class="breadcrumb-item active">About US</li>
                    </ul>

                    <h1>About Us</h1>
                    <p class="text-template">We are the forefront innovation. <br> Find the perfect solution for all your academic problems with us.</p>
                </div>
            </section>
            <!--=============== /. Hero Section ===============-->


            <!--=============== Intro Section ===============-->
            <section class="intro">
                <div class="container text-center">
                    <p class="text-big col-md-10 push-md-1">An integrated network of experts in all fields serving students, graduates and even business owners! We provide solutions for your dilemmas on the academic as well as occupational level. We address the most frequently sought requisites mostly on academic areas, but also on business and commercial areas.</p>
                    <a class="bla-1 btn-template has-shadow" href="https://www.youtube.com/watch?v=qAEri80O5Hw&t=8s">About our Service <i class="icon-play-button"></i></a>
                </div>
            </section>
            <!--=============== /. Intro Section ===============-->


            <!--=============== Vision Section ===============-->
            <section class="vision gray-bg">
                <div class="container text-center">
                    <header>
                        <h2 class="has-lines">Our Vision</h2>
                        <p class="text-template">The prosperity of your academic life or business is our number one concern. We see things with your eyes and from your own perspective. We understand that one may need professional assistance to ace a task or finish a project. So, we are set and ready to provide you with whatever it is that you might require. Just ask! And the results shall amaze you.</p>
                    </header>

                    <!-- Blockquote -->
                    <blockquote class="blockquote col-md-10 push-md-1">
                        <p>We are most glad to present this integrated student services platform. We were inspired by the struggles we experienced ourselves, by the dreams we have chased and by the success we have long waited for as students. We aspire to support you; as students, post-graduates or even business owners. We wish to make your academia flourish; to un-limit your ambitions and to make your dreams sky-rocket.</p>
                        <footer class="blockquote-footer d-flex align-items-start justify-content-center">
                            <div class="title">
                                <h3>Osama Sultan</h3>
                                <span class="text-primary">CEO Vua Paper LTD.</span>
                            </div>
                        </footer>
                    </blockquote><!-- /. Blockquote -->
                </div>
            </section>
            <!--=============== /. Vision Section ===============-->


            <!--=============== Statistics Section ===============-->
            <section class="statistics statistics-about has-pattern-memphis padding-small">
                <div class="container text-center">

                    <div class="row">
                        <!-- Item -->
                        <div class="col-md-3 col-sm-6">
                            <div class="icon">
                                <img src="img/coffe.gif" alt="..." class="img-fluid">
                            </div>
                            <h3 class="h2 text-primary"><strong class="counter">450</strong></h3>
                            <p>Cups of Coffee</p>
                        </div><!-- /. Item -->

                        <!-- Item -->
                        <div class="col-md-3 col-sm-6">
                            <div class="icon">
                                <img src="img/portfolio.gif" alt="..." class="img-fluid">
                            </div>
                            <h3 class="h2 text-primary"><strong class="counter">450</strong></h3>
                            <p>Projects Done</p>
                        </div><!-- /. Item -->

                        <!-- Item -->
                        <div class="col-md-3 col-sm-6">
                            <div class="icon">
                                <img src="img/chat.gif" alt="..." class="img-fluid">
                            </div>
                            <h3 class="h2 text-primary"><strong class="counter">600</strong></h3>
                            <p>Comments</p>
                        </div><!-- /. Item -->

                        <!-- Item -->
                        <div class="col-md-3 col-sm-6">
                            <div class="icon">
                                <img src="img/clients.gif" alt="..." class="img-fluid">
                            </div>
                            <h3 class="h2 text-primary"><strong class="counter">3500</strong></h3>
                            <p>Happy Clients</p>
                        </div><!-- /. Item -->
                    </div>

                </div>
            </section>
            <!--=============== /. Statistics Section ===============-->


            <!--=============== Team Section ===============-->
            <section class="team gray-bg">
                <div class="container">

                    <!-- Testimonials Slider -->
                    <div class="owl-carousel owl-theme team-slider">

                        <!-- item -->
                        <div class="item shadow-on-hover">
                            <div class="member">
                                <div class="profile d-flex align-items-end">
                                    <img src="img/osama.png" alt="..." class="img-fluid">
                                </div>

                                <div class="details">
                                    <h3 class="heading-bold">Osama Sultan</h3>
                                    <span>CEO</span>
                                </div>
                            </div>
                        </div> <!-- End item -->

                        <!-- item -->
                        <div class="item shadow-on-hover">
                            <div class="member">
                                <div class="profile d-flex align-items-end">
                                    <img src="img/alex.jpg" alt="..." class="img-fluid">
                                </div>

                                <div class="details">
                                    <h3 class="heading-bold">Alex Lima</h3>
                                    <span>Developer</span>
                                </div>
                            </div>
                        </div> <!-- End item -->

                        <!-- item -->
                        <div class="item shadow-on-hover">
                            <div class="member">
                                <div class="profile d-flex align-items-end">
                                    <img src="img/mohamed.jpg" alt="..." class="img-fluid">
                                </div>

                                <div class="details">
                                    <h3 class="heading-bold">Mohamed Hasan</h3>
                                    <span>Designer</span>
                                </div>
                            </div>
                        </div> <!-- End item -->

                        <!-- item -->
                        <div class="item shadow-on-hover">
                            <div class="member">
                                <div class="profile align-items-end">
                                    <img src="img/ammar.png" alt="..." class="img-fluid">
                                </div>

                                <div class="details">
                                    <h3 class="heading-bold">Ammar Ahmed</h3>
                                    <span>Designer</span>
                                </div>
                            </div>
                        </div> <!-- End item -->

                        <!-- item -->
                        <div class="item shadow-on-hover">
                            <div class="member">
                                <div class="profile align-items-end">
                                    <img src="img/sharon.png" alt="..." class="img-fluid">
                                </div>

                                <div class="details">
                                    <h3 class="heading-bold">Sharon Jared</h3>
                                    <span>Engineer</span>
                                </div>
                            </div>
                        </div> <!-- End item -->
                    </div><!-- End Testimonials Slider -->

                </div>
            </section>
            <!--=============== /. Team Section ===============-->

			
			<script>$(document).prop('title', 'Vuapaper | About Us');</script>

   </template>