	
		<template name="paypal">
	
			 <!--=============== Hero Section ===============-->
        <section class="hero hero-page hero-login has-pattern-stripes">
            <div class="container text-center">
                <!-- Breadcrumb -->
                <ul class="breadcrumb d-flex justify-content-center">
                    <li class="breadcrumb-item"><a href="/" class="animsition-link">Home</a></li>
                    <li class="breadcrumb-item active">Payment</li>
                </ul>

                <h1>Proceed Your Payment Using Paypal</h1>
            </div>
        </section>
        <!--=============== /. Hero Section ===============-->


        <!--=============== Login Section ===============-->
        <section class="login">
            <div class="row">

                <!-- Login Form -->
                <div class="form-holder col-lg-8 push-lg-2">
                   
			{{> paypalCreditCardForm }}

				   
                </div><!-- /. Login Form -->
            </div>
        </section>

        <!--=============== Login Section ===============-->

		</template>