<template name="contact">
    <script>$(document).prop('title', 'Vuapaper | Contact Us');</script>
    <!--=============== Hero Section ===============-->
    <section class="hero hero-page has-pattern-stripes">
        <div class="container text-center">
            <!-- Breadcrumb -->
            <ul class="breadcrumb d-flex justify-content-center">
                <li class="breadcrumb-item"><a href="/" class="animsition-link">Home</a></li>
                <li class="breadcrumb-item active">Contact</li>
            </ul>
            <h1>Let's Talk</h1>
            <p class="text-template">
            Questions? Comments? <br/>
            Please don't hesitate to get in touch.
            </p>
        </div>
    </section>
    <!--=============== /. Hero Section ===============-->
    <!--=============== Details Section ===============-->
    <section class="contact-us-details">
        <div class="container">
            <div class="row">
                <!-- Contact Details Column -->
                <div class="col-lg-5">
                    <div class="contact-details">
                        <header>
                            <h2 class="has-lines">Reach us on</h2>
                        </header>
                        <ul class="info list-unstyled">
                            <li>
                                <p>
                                <i class="icon-location-pin"></i>
                                Muscat, Oman
                                </p>
                            </li>
                            <li>
                                <i class="icon-mail"></i>
                                <a href="mailto:support@vuapaper.com">Support@vuapaper.com</a>
                            </li>
                            <li>
                                <i class="icon-phone-call"></i>
                                <a href="tel:+970597550614">+968 95444315</a>
                            </li>
                            <li>
                                <i class="icon-fax"></i>
                                <a href="tel:+970597550614">+‬968 95444316</a>
                            </li>
                        </ul>
                        <ul class="social-icons list-inline">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/vuapaper/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://twitter.com/Vuapaper" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/Vuapaper/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.youtube.com/c/VuaPaper" target="_blank" class="youtube"><i class="fa fa-youtube-play"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Illustration Column -->
                <div class="col-lg-7 image">
                    <img src="img/illustration.gif" alt="..." class="img-fluid d-block mx-auto">
                </div>
            </div>
        </div>
    </section>
    <!--=============== /. Details Section ===============-->
    <!--=============== Form Section ===============-->
    <section class="contact-us-form no-padding-top">
        <div class="container">
            <header class="text-center">
                <h2 class="has-lines">Write to us directly</h2>
            </header>
            <!-- Contact Form -->
            <div class="form-holder">
                <form action="#" id="contact-form">
                    <div class="form-group">
                        <input type="text" class="input-material" name="name" id="name">
                        <label for="name">Enter Your Name</label>
                    </div>
                    <div class="form-group">
                        <input type="email" class="input-material" name="email" id="email">
                        <label for="email">Enter Your Email Address</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="input-material" name="subject" id="subject">
                        <label for="subject">Enter the subject</label>
                    </div>
                    <div class="form-group">
                        <textarea class="input-material" name="message" id="message"></textarea>
                        <label for="message">How can we help you?</label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-template-outlined" type="submit">Submit</button>
                    </div>
                </form><!-- /. Contact Form -->
            </div>
        </div>
    </section>
    <!--=============== /. Form Section ===============-->
</template>
