
<template name="servicesar">

			<script>$(document).prop('title', 'Vuapaper | خدماتنا');</script>
			
            <!--=============== Hero Section ===============-->
            <section class="hero hero-page has-pattern-stripes">
                <div class="container text-center">
                    <!-- Breadcrumb -->
                    <ul class="breadcrumb d-flex justify-content-center">
                        <li class="breadcrumb-item"><a href="/ar" class="animsition-link">االرئيسية</a></li>
                        <li class="breadcrumb-item active">خدماتنا</li>
                    </ul>

                    <h1>خدماتنا</h1>
                    <p class="text-template">نحن رواد الإبتكار. <br> إكتشف معنا ما لم تكتشفه في مشروعك القادم.</p>
                </div>
            </section>
            <!--=============== /. Hero Section ===============-->


            <!--=============== Services Section ===============-->
            <section class="services-page">
                <div class="container text-center">

                    <div class="row d-flex justify-content-center">
                        <!-- Item -->
                        <div class="col-lg-4 col-md-6">
                            <div class="item shadow-on-hover pattern-memphis-on-hover">
                                <div class="icon">
                                    <img src="img/writing.gif" alt="..." class="img-fluid">
                                </div>
                                <h3>الكتابة من الصفر</h3>
                                <p>أحصل على كتّاب محترفين لتقديم أفكارك بطابعهم الخاص من الكلمات وخلفيتهم الأكاديمية.</p>
                            </div>
                        </div><!-- /. Item -->

                        <!-- Item -->
                        <div class="col-lg-4 col-md-6">
                            <div class="item shadow-on-hover pattern-memphis-on-hover">
                                <div class="icon">
                                    <img src="img/paper.gif" alt="..." class="img-fluid">
                                </div>
                                <h3>المساعدة الأكاديمية</h3>
                                <p>أحصل على كتّاب محترفين لتقديم أفكارك بطابعهم الخاص من الكلمات وخلفيتهم الأكاديمية.</p>
                            </div>
                        </div><!-- /. Item -->

                        <!-- Item -->
                        <div class="col-lg-4 col-md-6">
                            <div class="item shadow-on-hover pattern-memphis-on-hover">
                                <div class="icon">
                                    <img src="img/notepad.gif" alt="..." class="img-fluid">
                                </div>
                                <h3>كتابة طلبات الالتحاق</h3>
                                <p>التقدم للجامعات، المنح الدراسية، والوظائف. أحصل على إستمارة الطلب من خلالنا الآن.</p>
                            </div>
                        </div><!-- /. Item -->

                        <!-- Item -->
                        <div class="col-lg-4 col-md-6">
                            <div class="item shadow-on-hover pattern-memphis-on-hover">
                                <div class="icon">
                                    <img src="img/translate.gif" alt="..." class="img-fluid">
                                </div>
                                <h3>الترجمة</h3>
                                <p>مترجمين مؤهلين سوف يوفرون لك ترجمة ممتازة وسريعة ومنسقة مع السياق الأساسي في مختلف التخصصات.</p>
                            </div>
                        </div><!-- /. Item -->

                        <!-- Item -->
                        <div class="col-lg-4 col-md-6">
                            <div class="item shadow-on-hover pattern-memphis-on-hover">
                                <div class="icon">
                                    <img src="img/architecture.gif" alt="..." class="img-fluid">
                                </div>
                                <h3>الرسومات الهندسية عبر الأوتوكاد</h3>
                                <p>أحصل على التصاميم الهندسية الأكثر احترافية من المهندسين الأكثر كفاءة ومهنية.</p>
                            </div>
                        </div><!-- /. Item -->

                        <!-- Item -->
                        <div class="col-lg-4 col-md-6">
                            <div class="item shadow-on-hover pattern-memphis-on-hover">
                                <div class="icon">
                                    <img src="img/vector.gif" alt="..." class="img-fluid">
                                </div>
                                <h3>تصميم وتطوير المواقع الإلكترونية</h3>
                                <p>ترقية موقع الويب الخاص بك أو الحصول على موقع إلكتروني جديد بتصميم جذاب وحديث يعبر عنك.</p>
                            </div>
                        </div><!-- /. Item -->

                        <!-- Item -->
                        <div class="col-lg-4 col-md-6">
                            <div class="item shadow-on-hover pattern-memphis-on-hover">
                                <div class="icon">
                                    <img src="img/graphic-tool.gif" alt="..." class="img-fluid">
                                </div>
                                <h3>الرسوم المتحركة</h3>
                                <p>نقدم أفكارك عبر تقنيات الرسوم المتحركة بشكل بسيط ومُعبر.</p>
                            </div>
                        </div><!-- /. Item -->

                        <!-- Item -->
                        <div class="col-lg-4 col-md-6">
                            <div class="item shadow-on-hover pattern-memphis-on-hover">
                                <div class="icon">
                                    <img src="img/graphic-vector.gif" alt="..." class="img-fluid">
                                </div>
                                <h3>التصميم الجرافيكي</h3>
                                <p>أحصل على أفكارك مترجمة بكل جمال من يد الفنانين.</p>
                            </div>
                        </div><!-- /. Item -->
                    </div>

                    <!-- Call To Action -->
                    <div class="CTAs d-flex align-items-center justify-content-center">
                        <a href="/orderar" class="btn-template has-shadow animsition-link">أطلب الأن</a>
                        <a href="/enquiryar" class="btn-template has-shadow animsition-link">ناقشنا بمشروعك</a>
                    </div>
                </div>
            </section>
            <!--=============== /. Services Section ===============-->



            <!--=============== Get a Quote Modal ===============-->
             <div class="modal fade" id="getQuote" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                   <div class="modal-content">
                      <div class="close-btn" data-dismiss="modal" aria-label="Close">
                         <i class="icon-close"></i>
                      </div>

                      <div class="get-quote has-shadow rtl">
                          <div class="title">
                              <h3 class="underlined-gradient">حساب التكلفة</h3>
                          </div>

                          <form action="#" id="getQuote">
                              <div class="form-group">
                                  <div class="currency d-flex flex-wrap">
                                      <label for="usd">
                                          <input type="radio" name="currency" id="usd" class="hidden">
                                          <span class="btn-gradient shadow-on-hover">USD</span>
                                      </label>
                                      <label for="omr">
                                          <input type="radio" name="currency" id="omr" class="hidden">
                                          <span class="btn-gradient shadow-on-hover">OMR</span>
                                      </label>
                                      <label for="sar">
                                          <input type="radio" name="currency" id="sar" class="hidden">
                                          <span class="btn-gradient shadow-on-hover">SAR</span>
                                      </label>
                                      <label for="qar">
                                          <input type="radio" name="currency" id="qar" class="hidden" checked>
                                          <span class="btn-gradient shadow-on-hover">QAR</span>
                                      </label>
                                      <label for="aed">
                                          <input type="radio" name="currency" id="aed" class="hidden">
                                          <span class="btn-gradient shadow-on-hover">AED</span>
                                      </label>
                                      <label for="kwd">
                                          <input type="radio" name="currency" id="kwd" class="hidden">
                                          <span class="btn-gradient shadow-on-hover">KWD</span>
                                      </label>
                                      <label for="bhd">
                                          <input type="radio" name="currency" id="bhd" class="hidden">
                                          <span class="btn-gradient shadow-on-hover">BHD</span>
                                      </label>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label for="academic-level">الدرجة الأكاديمية</label>
                                  <select class="bs-select" id="academic-level">
                                     <option value="Diploma">دبلوم</option>
                                     <option value="Bachelor">بكالوريوس</option>
                                     <option value="Master">ماجستير</option>
                                     <option value="PhD">دكتوراه</option>
                                  </select>
                              </div>
                              <div class="form-group">
                                  <label for="paper-type">نوع العمل</label>
                                  <select class="bs-select" id="paper-type">
                                     <option value="Article">مقال</option>
                                     <option value="Article-Review">تقييم مقال</option>
                                     <option value="Biography">سيرة شخصية</option>
                                     <option value="Book-Review">مراجعة كتاب</option>
                                     <option value="Business-Plan">خطة عمل</option>
                                     <option value="Case-Study">رسالة تغطية</option>
                                     <option value="Course-Work">كتابة إبداعية</option>
                                     <option value="Cover-Letter">سيرة ذاتية</option>
                                     <option value="Creative-Writing">أطروحة</option>
                                     <option value="Curriculum-Vitae">ملخص أطروحة</option>
                                     <option value="Dissertation">فصل من الأطروحة</option>
                                     <option value="Dissertation-Abstract">خاتمة أطروحة</option>
                                     <option value="Dissertation-Chapter">فرضية أطروحة</option>
                                     <option value="Dissertation-Conclusion">فرضية أطروحة</option>
                                     <option value="Dissertation-Hypothesis">منهجية أطروحة</option>
                                     <option value="Dissertation-Introduction">نقد أدبي</option>
                                     <option value="Dissertation-Methodology">تقييم فيلم</option>
                                     <option value="Dissertation-Proposal">تقرير</option>
                                     <option value="Dissertation-Results">ورقة بحثية</option>
                                     <option value="Essay">مقترح بحثي</option>
                                  </select>
                              </div>
                              <div class="form-group">
                                  <label for="deadline">وقت التسليم</label>
                                  <select class="bs-select" id="deadline">
                                     <option value="12 Hours">12 ساعة</option>
                                     <option value="24 Hours">12 ساعة</option>
                                     <option value="2 Days">2 أيام</option>
                                     <option value="3 Days">3 أيام</option>
                                     <option value="5 Days">5 أيام</option>
                                     <option value="7 Days">7 أيام</option>
                                     <option value="9 Days">9 أيام</option>
                                     <option value="14 Days">14 أيام</option>
                                  </select>
                              </div>
                              <div class="form-group pages-quantity">
                                  <label for="pages-quantity">عدد الصفحات</label>
                                 <div class="d-flex align-items-center">
                                     <div class="minus-btn">
                                        <i class="icon-android-remove"></i>
                                     </div>
                                     <input type="text" value="1" class="quantity" id="pages-quantity">
                                     <div class="plus-btn">
                                        <i class="icon-android-add"></i>
                                     </div>
                                 </div>
                              </div>

                              <div class="d-flex align-items-center justify-content-between">
                                  <div class="price underlined-gradient">السعر الإجمالي <span>$10.99</span></div>
                                  <a href="/order-ar" class="btn btn-template animsition-link">أكمل الخطوات</a>
                              </div>
                          </form>
                      </div>
                   </div>
                </div>
             </div>
             <!--=============== /. Get a Quote Modal ===============-->

</template>

