
		<template name="howar">
		
		
			<script>$(document).prop('title', 'Vuapaper | الية العمل');</script>
			
            <!--=============== Hero Section ===============-->
            <section class="hero hero-page has-pattern-stripes">
                <div class="container text-center">
                    <!-- Breadcrumb -->
                    <ul class="breadcrumb d-flex justify-content-center">
                        <li class="breadcrumb-item"><a href="/ar" class="animsition-link">الرئيسية</a></li>
                        <li class="breadcrumb-item active">آلية العمل</li>
                    </ul>

                    <h1>آلية العمل</h1>
                    <p class="text-template">الحصول على مساعدة أكاديمية متميزة .. أمر سهل لدينا. <br> أحصل على ورقتك الخاصة المكتوبة لك أنت فقط .. من خلال 4 خطوات سهلة.</p>
                </div>
            </section>
            <!--=============== /. Hero Section ===============-->


            <!--=============== Steps Section ===============-->
            <section class="steps ltr">
                <div class="container text-center">

                    <div class="row">
                        <!-- Step -->
                        <div class="col-md-8 push-md-2">
                            <div class="item step has-shadow">
                                <div class="icon">
                                    <img src="img/pros-and-cons.gif" alt="..." class="img-fluid">
                                </div>
                                <h3>املأ نموذج الطلب</h3>
                                <p>تقديم طلب الخدمة سهل وسريع جداً. يؤمّن موقعنا على الانترنت ذو صفحة الطلب
                                الوحيدة، سرعةً عالية جدا لإجراء كل عملياتك على الموقع. يكفي أن تضغط على زر
                                &quot;اطلب الآن&quot; ثم اترك النظام يقود خطواتك بكل سهولة خلال العملية. قدِّم تفاصيل
                                الورقة البحثية، ارفع الملفات، ووفّر معلومات الاتصال بك لتشارف على انجاز العمل
                                تقريبًا!</p>
                            </div>
                            <div class="step-number">1</div>
                        </div><!-- /. Step -->

                        <!-- Step -->
                        <div class="col-md-8 push-md-2">
                            <div class="item step has-shadow">
                                <div class="icon">
                                    <img src="img/budget.gif" alt="..." class="img-fluid">
                                </div>
                                <h3>حساب السعر</h3>
                                <p>ليس هناك الكثير مما ستفعله في هذه الخطوة، أنت المتحكم الرئيسي في التكلفة التي
                                تريد دفعها! يُحدِّد السعر عدد الصفحات والمستوى الأكاديمي والموعد النهائي لتسليم
                                العمل. هل تواجه مشاكل مع تسعير ورقتك البحثية الخاصة؟ لا تتردد واتصل بنا من
                                خلال الدردشة وسنتوصل بلا شك إلى اتفاق معقول بيننا.</p>
                            </div>
                            <div class="step-number">2</div>
                        </div><!-- /. Step -->

                        <!-- Step -->
                        <div class="col-md-8 push-md-2">
                            <div class="item step has-shadow">
                                <div class="icon">
                                    <img src="img/payment.gif" alt="..." class="img-fluid">
                                </div>
                                <h3>تقديم تفاصيل الدفع</h3>
                                <p>جميع عمليات الدفع تتم عبر نظام مدفوعات آمن وفعّال،فنحن لا نقوم بتخزين معلومات
                                بطاقتك البنكية، وهذا ما يتيح لنا أن نضمن أمانًا 100% لمدفوعاتك المالية واتمام
                                عمليات الدفع بسرعة.
                                بعد ذلك سيتم توجيهك لخطوة &quot;قيد التفعيل&quot; والتي من خلالها تتم مراجعة كافة البيانات
                                التي قمت بتسجيلها .. وعند الموافقة سوف تقوم باستلام بريد إلكتروني عند التفعيل.
                                هل تواجهك صعوبات في تقديم معلومات الدفع؟ نحن هنا لمساعدتك 24/7 من خلال
                                الدردشة!</p>
                            </div>
                            <div class="step-number">3</div>
                        </div><!-- /. Step -->

                        <!-- Step -->
                        <div class="col-md-8 push-md-2">
                            <div class="item step has-shadow">
                                <div class="icon">
                                    <img src="img/guarantee.gif" alt="..." class="img-fluid">
                                </div>
                                <h3>أحصل على ورقتك الخاصة</h3>
                                <p>بعد أن ينجز الكاتب الورقة البحثية ستتلقى رسالة الكترونية في بريدك تطلب منك
                                التحقق من النسخة الأولية لها. يكفي أن تسجل الدخول لحسابك في موقعنا وتتحقق ما
                                إن كنت راضيا عن العمل المُنجَز. عندئذ يمكنك إما أن توافق على الورقة البحثية
                                وتستلم ملف وورد .doc كاملاً للورقة في قسم الملف، أو تطلب من الكاتب أن
                                يراجعها في قسم الدردشة الخاصة بك.</p>
                            </div>
                            <div class="step-number">4</div>
                        </div><!-- /. Step -->
                    </div>
                </div>
            </section>
            <!--=============== /. Steps Section ===============-->

			</template>