

	<template name="how">
	
	
			<script>$(document).prop('title', 'Vuapaper | How It Works');</script>
	
            <!--=============== Hero Section ===============-->
            <section class="hero hero-page has-pattern-stripes">
                <div class="container text-center">
                    <!-- Breadcrumb -->
                    <ul class="breadcrumb d-flex justify-content-center">
                        <li class="breadcrumb-item"><a href="/" class="animsition-link">Home</a></li>
                        <li class="breadcrumb-item active">How it Works</li>
                    </ul>

                    <h1>How it Works</h1>
                    <p class="text-template">Getting professional academic help from us is easy. <br> Get your custom written paper done for you in 4 simple steps.</p>
                </div>
            </section>
            <!--=============== /. Hero Section ===============-->


            <!--=============== Steps Section ===============-->
            <section class="steps">
                <div class="container text-center">

                    <div class="row">
                        <!-- Step -->
                        <div class="col-md-8 push-md-2">
                            <div class="item step has-shadow">
                                <div class="icon">
                                    <img src="img/pros-and-cons.gif" alt="..." class="img-fluid">
                                </div>
                                <h3>Fill in the order fom</h3>
                                <p>Placing an order has never been so fast and easy. Our single page application website ensures a supreme speed of all your operations. Just press the “Order now” button and let the system intuitively guide you through the process. Submit the paper details, upload files, and provide contact information you are almost done!</p>
                            </div>
                            <div class="step-number">1</div>
                        </div><!-- /. Step -->

                        <!-- Step -->
                        <div class="col-md-8 push-md-2">
                            <div class="item step has-shadow">
                                <div class="icon">
                                    <img src="img/budget.gif" alt="..." class="img-fluid">
                                </div>
                                <h3>Calculate the price</h3>
                                <p>There is even less you need to do at this point – you are the sole maker of the price you pay! No hidden cost. The number of pages, academic level and deadline determine the price. Facing problems with the price of your paper? Just contact us in chat and we will definitely come to a reasonable conclusion.</p>
                                </div>
                            <div class="step-number">2</div>
                        </div><!-- /. Step -->

                        <!-- Step -->
                        <div class="col-md-8 push-md-2">
                            <div class="item step has-shadow">
                                <div class="icon">
                                    <img src="img/payment.gif" alt="..." class="img-fluid">
                                </div>
                                <h3>Submit payment details</h3>
                                <p>All payments are being processed by secure Payment system. We do not store your credit card information. This enables us to guarantee a 100% security of your funds and process payments swCiftly.
								After this step you will be directed to the "Pending" step which all the data you have registered will be reviewed. Upon approval, you will receive an email notifying you that your order status has changed to "Active".
								Having troubles submitting your payment details? We are available 24/7 in chat to help you!
								</p>
                                </div>
                            <div class="step-number">3</div>
                        </div><!-- /. Step -->

                        <!-- Step -->
                        <div class="col-md-8 push-md-2">
                            <div class="item step has-shadow">
                                <div class="icon">
                                    <img src="img/guarantee.gif" alt="..." class="img-fluid">
                                </div>
                                <h3>Get your paper done</h3>
                                <p>After the writer completes the paper you will receive an email asking to check the preview version of it. Just log in to your account and check if you are satisfied with the work done. You can either approve the paper and get a full word.doc document in the file section, or ask the writer to revise it by requested on your chat section. .</p>
                            </div>
                            <div class="step-number">4</div>
                        </div><!-- /. Step -->
                    </div>
                </div>
            </section>
            <!--=============== /. Steps Section ===============-->

</template>