<template name="enquiry">


	<script>$(document).prop('title', 'Vuapaper | Discuss Your Project');</script>

     <!--=============== /. Enquiry Form Section ===============-->
            <section class="enquiry has-pattern-stripes gray-bg">
                <div class="container">

                    <header class="text-center">
                        <h2 class="heading-light">LET'S WORK TOGETHER</h2>
                        <p class="text-template">We are delighted you are considering us. Please complete our project builder form below. From reviewing your brief, we can best discuss the most effective digital solution together. Alternatively, if you would like to speak to one of our team directly, our details are available here.</p>
                    </header>

                    <div class="form-holder has-shadow col-md-10 push-md-1">
                        <form action="#" id="enquiryForm">
                            <div class="form-group">
                                <label for="name" class="required">Name</label>
                                <input class="form-control" type="text" name="name" id="name" placeholder="Enter your full name">
                            </div>
                            <div class="form-group">
                                <label for="email" class="required">Emails</label>
                                <input class="form-control" type="email" name="email" id="email" placeholder="Enter your email address">
                            </div>
                            <div class="form-group">
                                <label for="phone">Telephone <span>- Optional</span> </label>
                                <input class="form-control" type="tel" name="phone" id="phone">
                            </div>
                            <div class="form-group">
                                <label for="message" class="required">Message</label>
                                <textarea class="form-control" name="message" id="message" placeholder="Enter your full name"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="file" name="files" id="file" class="input-file" data-multiple-caption="{count} files selected" multiple>
                                <label for="file" class="btn-gradient"><span>Upload Files</span></label>
                            </div> 
							
							<!--
							
							<div class="form-group">
                                <label>Payment Method</label>
                                <div class="form-group row d-flex align-items-start">
                                    <div class="payment-system col-lg-9 d-flex align-items-center flex-wrap">
                                        <label for="paypal">
                                            <input type="radio" name="payment-system" id="paypal" class="hidden" value="paypal" checked>
                                            <span class="payment-link d-flex align-items-center shadow-on-hover">
                                                <img src="img/paypal.svg" alt="paypal" width="70">
                                            </span>
                                        </label>
                                        <label for="visa">
                                            <input type="radio" name="payment-system" id="visa" class="hidden" value="Visa">
                                            <span class="payment-link d-flex align-items-center shadow-on-hover">
                                                <img src="img/visa.svg" alt="visa" width="50">
                                            </span>
                                        </label>
                                        <label for="western-union">
                                            <input type="radio" name="payment-system" id="western-union" class="hidden" value="Western union">
                                            <span class="payment-link d-flex align-items-center shadow-on-hover">
                                                <img src="img/western-union.svg" alt="western-union" >
                                            </span>
                                        </label>
                                        <label for="bank-muskat">
                                            <input type="radio" name="payment-system" id="bank-muskat" class="hidden" value="Bank Muskat">
                                            <span class="payment-link d-flex align-items-center shadow-on-hover">
                                                <img src="img/bankmuscat.svg" alt="bank muskat" >
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
							-->
							
                            <div class="form-group">
                                <button class="btn-template" type="submit">Send Project Enquiry</button>
                            </div>
                        </form>
                    </div>

                </div>
            </section>
            <!--=============== Enquiry Form Section ===============-->


   </template>