
	<template name="enquiryar">


            <!--===============  Enquiry Form Section ===============-->
            <section class="enquiry has-pattern-stripes gray-bg ltr">
                <div class="container">
				
			<script>$(document).prop('title', 'Vuapaper | ناقش مشروعك معنا');</script>
			
				

                    <header class="text-center">
                        <h2>لنعمل سوياً</h2>
                        <p class="text-template">نحن سعداء أنك تفكر في التناقش معنا. كل ما عليك هو التكرم بتعبئة نموذج طلب وبناء المشاريع الموجود أدناه .. لنعمل على مراجعته والتواصل معك للوصول لأفضل الحلول التي من الممكن أن نقدمها لتتلائم مع طلبك. إذا كنت تريد التواصل بشكل مباشر مع أحد أفراد فريق عملنا المتخصصين .. فتفضل بالإطلاع على تفاصيل التواصل معنا</p>
                    </header>

                    <div class="form-holder has-shadow col-md-10 push-md-1">
                        <form action="#" id="enquiryForm" class="rtl">
                            <div class="form-group">
                                <label for="name" class="required">الإسم</label>
                                <input class="form-control" type="text" name="name" id="name" placeholder="أدحل أسمك">
                            </div>
                            <div class="form-group">
                                <label for="email" class="required">البريد الإلكتروني</label>
                                <input class="form-control" type="email" name="email" id="email" placeholder="أدخل بريدك الإلكتروني">
                            </div>
                            <div class="form-group ltr">
                                <label for="phone" class="text-right">الهاتف <span>- اختياري</span> </label>
                                <input class="form-control" type="tel" name="phone" id="phone" placeholder="أدخل رقم الهاتف">
                            </div>
                            <div class="form-group">
                                <label for="message" class="required">الرسالة</label>
                                <textarea class="form-control" name="message" id="message" placeholder="كيف يمكننا مساعدتك"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="file" name="files" id="file" class="input-file" data-multiple-caption="{count} files selected" multiple>
                                <label for="file" class="btn-gradient"><span>رفع الملفات</span></label>
                            </div>
							
                            <div class="form-group clearfix">
                                <button class="btn-template font-arabic" type="submit">قم بإرسال إستفسارك</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <!--=============== Enquiry Form Section ===============-->

</template>